body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #34495e;
    text-align: center;
}

.box{
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
    border-radius: 24px;
}

.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.box input[type = "text"],.box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px;
    border-color: #2ecc71;
}

.box input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 2s;
    cursor: pointer;
    font-weight: bold;
}

.box input[type = "submit"]:hover{
    background: #2ecc71;
}

p {
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    color:chocolate
}

p:hover {
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    color: darkred
}

#chat {
    white-space: pre-line
}

#video { 
    width: 800px;
    height: auto;
}

#chatmess {
    width: 300px;
    height: 200px;
}

a:link {
    color:#007bcd;
    text-decoration: none;
}

a:visited {
    color:#0099ff;
    text-decoration: none;
}

#up {
    display: inline-flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
    margin: 10px;
}

.full {
    display: none;
}

#userSettings {
    display: inline-flex;
    flex-direction: row;
}

#userFullInfo {
    display: inline-flex;
    flex-direction: row;
}

#inf {
    margin-left: 50px;
    margin-right: 50px;
}

#listTariff {
    width: 300px;
    height: 200px;
}

#controlTariff {
    display: inline-flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
    margin: 10px;
}

#controlSchedule {
    display: inline-flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
    margin: 10px;
}

#news {
    display: flex;
    flex-direction: row;
}

#news1 {
    background-color: gray;
    width: 500px;
    height: 300px;

    width: 80%;
    justify-content: space-evenly;
    margin: 10px;
}

#news2 {
    background-color: gray;
    width: 500px;
    height: 300px;

    width: 80%;
    justify-content: space-evenly;
    margin: 10px;
}

#btntariff {
    margin-left: 5px;
}

#chtariff1 {
    text-align: left;
}